@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif;
}
:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html{
    overflow-x: hidden;
    font-size: 60%;
}
body{
    background-color: var(--bg-color);
}
.header{
    padding: 20px;
    position: fixed;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 600;
    color: var(--text-color);
    font-size: 20px;
    font-family: Poppins,sans-serif;
}
.navbar a{
    color: var(--text-color);
    font-size: 15px;
    padding: 0px 20px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 2px solid #00abf0;
    border-radius: 1px;
}
.home{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 40px;
}
.home-content .text-animate{
    position: relative;
}
.home-content .text-animate h3{
    color: transparent;
    -webkit-text-stroke : 0.7px var(--main-color);
    font-size: 25px;
    font-weight: 700;
}
.animate h3{
    -webkit-text-fill-color: #00abf0;
    transition: -webkit-text-fill-color 10s;
    animation: 2s ease forwards;
}
.home-content p{
    font-size: 14px;
    margin: 10px 5px;
}
.home-content .btn-box,
input[type=submit]{
    background-color: var(--main-color);
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 650;
    cursor: pointer;
    color: var(--bg-color);
    border: 2px solid #00abf0;
    margin-right: 20px;
}
.home-content .btn-box:hover,
input[type=submit]:hover{
    background-color: var(--bg-color);
    color: var(--main-color);
}
span{
    color: var(--main-color);
}
.about{
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 0px;
}
.about-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}
.about-content h1{
    font-size: 40px;
    padding: 10px 0px;
}
.about-content p{
    font-size: 14px;
    max-width: 60%;
    padding: 10px 0px;
}
.about-content .btn-box{
    background-color: var(--main-color);
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    color: var(--bg-color);
    border: 2px solid #00abf0;
}
.about-content .btn-box:hover{
    background-color: var(--bg-color);
    color: var(--main-color);
}
.education{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.education-content{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.education-content h1{
    font-size: 40px;
    padding: 10px 0px;
    color: var(--text-color);
}
.education-content p{
    max-width: 60%;
}
.education-content .education-box{
    background-color: transparent;
    width: 500px;
    border: 2px solid #00abf0;
    margin: 20px 10px;
    padding: 10px 10px;
}
.education-content .education-box::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: var(--main-color);
    z-index: 2;
    margin-left: -30px;
    transition: background-color 0.5s;
}
.education-content .education-box:hover::before{
    background-color: white;
}

.education-content .education-box h3{
    font-size: medium;
    color: var(--text-color);
}
.education-content .education-box .year{
    font-size: 14px;
    color: var(--main-color);
}
.education-content .education-box .uni-para{
    font-size: 12px;
    color: var(--text-color);
}
.education-content .eduline{
    border-left: 4px solid #00abf0;
}
.skills{
    background-color: var(--second-bg-color);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.skills-content h1{
    font-size: 40px;
    padding: 10px 0px;
    color: var(--text-color);
}
.skills-content .skill-box{
    color: var(--text-color);
    font-size: medium;
    padding: 20px 0px;
    display: flex;
}

.skills-content .progress h3{
    font-size: medium;
    color: var(--text-color);
    padding-bottom: 5px;
}
.skills-content .skill-box{
    border: 2px solid #00abf0;
    margin: 20px;
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.skills-content .progress-block{
    display: block;
    margin: 2px;
}
.skills-content .progress{
    border: 1px solid aqua;
    height: 25px;
    width: 95%;
    margin: 0px 10px;
}
.skills-content .bar{
    height: 10px;
    background-color: #00abf0;
    margin: 5px;
}

.html{
    width:95%;
}
.css{
    width: 95%;
}
.js{
    width:70%;
}
.jquery{
    width:60%;
}
.mongo{
    width: 70%;
}
.reactjs{
    width: 60%;
}
.exjs{
    width: 60%;
}
.nodejs{
    width: 60%;
}
.contactme{
    background-color: transparent;
    text-align: center;
}
.contactme-content .feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 10px 10px;
}
.contactme-content h1{
    font-size: 40px;
    padding: 10px 0px;
    color: var(--text-color);
}
input[type=text]{
    margin: 10px 10px;
    border: 2px solid #00abf0;
    width: 400px;
    height: 30px;
    padding-left: 5px;
}
textarea{
    margin: 10px 10px;
    border: 2px solid #00abf0;
    width: 400px;  
    padding-left: 5px; 
}
footer{
    color: white;
    padding: 20px;
    background-color: #112e42;
    font-size: medium;
    text-align: center;
}
.btn-box a{
    text-decoration: none;
    color: #081b29;
}
.btn-box a:hover{
    color: #00abf0;
}
.inline-box{
    display: flex;
}